{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
        <link pel="preconnect" href="https://fonts.googleapis.com">
        <link pel="preconnect" href="https://fonts.googleapis.com">
        <link pel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'home'%}">Django-project</a></h1>
        </header>
        <div>
            {% block content%}
            {% endblock content%}
        </div>
    </body>
</html>